<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/javascripts/tree.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img alt="Brand" src="/images/Passport-Lockup.png" style="max-height:30px;max-width:100px;margin-top:-7px;">
        </a>
    </nav> 
    <div class="tree treebody"> 
      <ul>
        <li>
          <ul>
              <li>
                  <span><b>Root</b></span>
                  <ul>
                      <li>
                          <span><b>Factory1</b></span>
                          <ul>
                              <li><span>222</span></li><li><span>123</span></li>
                          </ul>
                      </li>
                      <li>
                          <span><b>Factory2</b></span>
                      </li>
                      <li>
                          <span><b>Factory3</b></span>
                          <ul>
                              <li><span>445</span></li>
                              <li><span>234</span></li>
                              <li><span>555</span></li>
                          </ul>
                      </li>
                  </ul>
              </li>
          </ul>
        </li>
      </ul>     
        
    </div>
   
  </body>
</html>
